
/*body{
background-image: url({{ url_for('static', filename='images/im.jpg') }});
  
}*/


div.Exhibit {
    margin: 0px 0px 0px 400px;
    background: whitesmoke;
    /*border: 1px solid black*/
    /*position: absolute;
    right: 1px;*/
    border:  3px solid green;
    padding: 50px;
    width: 600px;
    /*height: 20px;*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}