<!DOCTYPE html>
<html>
<head>
	<title></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css"/>


    <script type="text/javascript" src="{{url_for('static',filename='exhbit.js')}}"></script>


<!-- <script type="text/javascript">
    function yesnoCheck() {
    if (document.getElementById('gstyes').checked) {
        document.getElementById('gstnumber').style.display = 'block';
    }
    else document.getElementById('gstnumber').style.display = 'none';
}
</script> -->

<!-- <script type="text/javascript">
    function categ() {
    if(document.getElementById('idelegate').checked)
    {   document.getElementById('indiandelg').style.display = 'block';
        if( document.getElementById('nonmember').checked)
        {
        document.getElementById('membershipNumber').style.display = 'none';

        }
        else{
            document.getElementById('membershipNumber').style.display = 'block';
        }
        document.getElementById('overseasfees').style.display = 'none';
        document.getElementById('sponsorcat').style.display = 'none';
     }   

    else if (document.getElementById('odelegate').checked) {
        document.getElementById('overseasfees').style.display = 'block';
        document.getElementById('membershipNumber').style.display = 'none';
        document.getElementById('sponsorcat').style.display = 'none';
    }

    else if (document.getElementById('sponsor').checked){
        document.getElementById('sponsorcat').style.display = 'block';
        document.getElementById('membershipNumber').style.display = 'none';
        document.getElementById('overseasfees').style.display = 'none';
    }

    else {
        document.getElementById('membershipNumber').style.display = 'none';
        document.getElementById('overseasfees').style.display = 'none';
        document.getElementById('sponsorcat').style.display = 'none';
            }
}
</script> -->


    <!--  // var input = document.querySelector('#amountd');
     // var para = document.querySelector('#calculate');
     // para.textContent =
     -->

 <!--     <script type="text/javascript">
         
         function payment(){
            var pay=0;
        var count=0;
         var returnedArray = [];
        if(document.getElementById("d1_name").value)
            count++;
        if(document.getElementById("d2_name").value)
            count++;
        if(document.getElementById("d3_name").value)
            count++;
        if(document.getElementById("d4_name").value)
            count++;
        if(document.getElementById("d5_name").value)
            count++;
        if(document.getElementById("d6_name").value)
            count++;

        if (document.getElementById('nonmember').checked)
        {
            if(count>=4)
            {   
                pay=10200;
                value1=10200*count; 
                value2=value1+(0.18*value1);
                returnedArray.push(10200);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
                
            }
            else{
                pay=12000;
                value1=12000 *count; 
                value2=value1+(0.18*value1);
                returnedArray.push(12000);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
                }
        }



        if (document.getElementById('corporate').checked)
        {
            if(count>=4)
            {   pay=7650;
                value1=7650 *count; 
                value2=value1+(0.18*value1);
                returnedArray.push(7650);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
            else{
                pay=9000;
                value1=9000  *count; 
                value2=value1+(0.18*value1);
                returnedArray.push(9000);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
        }

        if (document.getElementById('associate').checked)
        {
            if(count>=4)
            {   pay=8400;
                value1=8400 *count; 
                value2=value1+(0.18*value1);
                returnedArray.push(8400);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
            else{
                pay=10200;
                value1=10200  *count; 
                value2=value1+(0.18*value1);
                returnedArray.push(10200);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
        }

        if (document.getElementById('odelegate').checked)
        {
            if(count>=4)
            {   
                pay=595*70;
                value1=((595*70)*count); 
                value2=value1+(0.18*value1);
                returnedArray.push(pay);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
            else{
                pay=700*70;
                value1=((700*70)*count); 
                value2=value1+(0.18*value1);
                returnedArray.push(pay);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
        }

         if (document.getElementById('sponsorcat').checked)
        {
            if(document.getElementById('sponsorcat')=="nonmember")
            {   pay=10000;
                value1=10000*count; 
                value2=value1+(0.18*value1);
                returnedArray.push(10000);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
            else{
                count=12000;
                value1=12000*count ; 
                value2=value1+(0.18*value1);
                returnedArray.push(12000);
                returnedArray.push(count);
                returnedArray.push(value1);
                returnedArray.push(value2);
            }
        }
             
        return returnedArray;
    }
     </script>
   
   <script type="text/javascript">
       function gstamount(){
        var myarry=payment();
         document.getElementById("amountdgst").value=myarry[3]; 
       }

       function amount(){
        var amountarray=payment();
        document.getElementById("amountd").value=amountarray[2];
       }

       function paymentbrk(){
        var payarray=payment();
        document.getElementById("paymentbreakup").innerHTML="Payment of "+payarray[1]+ "Delegate=" +payarray[0]+ "*" +payarray[1]+ "="+ payarray[2]+
        " \n Sum of Total Amount: Rs." +payarray[0]+'\n'+"Total Amount to be Paid (18% GST): Rs."+ payarray[3]+"/-";

       }
   </script> -->

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='delig_style.css')}}">

</head>
<body style="background-color:#F9F9F9;">
    <div id="container">

	{% from "delg_formhelper.html" import render_field %}
	<form method="POST" action=""id="learningForm" class="form1">
        {{ form.csrf_token }}

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
		<p><h6><b><u>REGISTRATION FORM</u></b></h6></p>

		<div class="grad" style="padding:10px; line-height:20px; ">
		<span class="secH"><b>Profile</b></span>
			<span style="float:right; font-size:11px;">( * ) Asterisks Mandatory</span>
		</div>

		<div class="quesMix">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">

		{{ render_field(form.name)}}
		{{ render_field(form.desig)}}
		{{ render_field(form.company)}}
		{{ render_field(form.address)}}

		<tr>
    <td ><span style="color:#F00;"><b>&nbsp;</b></span> Country</td>
    <td>
      <select name="country" placeholder="Country" title="Country" id="country" class="inp">
            <option value="">Select-One</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cabo Verde">Cabo Verde</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Côte d'Ivoire">Côte d'Ivoire</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="DR Congo">DR Congo</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Greece">Greece</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Holy See">Holy See</option>
            <option value="Honduras">Honduras</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="North Korea">North Korea</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Kitts & Nevis">Saint Kitts & Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome & Principe">Sao Tome & Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="St. Vincent & Grenadines">St. Vincent & Grenadines</option>
            <option value="State of Palestine">State of Palestine</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="TFYR Macedonia">TFYR Macedonia</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-Leste">Timor-Leste</option>
            <option value="Togo">Togo</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="U.K.">U.K.</option>
            <option value="U.S.A">U.S.A</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Viet Nam">Viet Nam</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
     </select>

     <input type="text" class="userInput" name="pincode" id="pincode" value="" placeholder="Pin/Zip Code" style="width:190px !important; " />
    </td>
  </tr>

  <tr>
    <td><span style="color:#F00;"><b>&nbsp;</b></span><span style="color:#F00;"><b></b></span> State <small>(for Indian Delegates)</small></td>
    <td>
        <select name="state" placeholder="State" title="State" id="state" class="inp" style="width:283px;">
		        <option value="" selected="">Select-One</option>
		        <option value="Andaman and Nicobar Islands:AN"> Andaman and Nicobar Islands</option>
		        <option value="Andhra Pradesh:AD">Andhra Pradesh</option>
				<option value="Arunachal Pradesh:AR">Arunachal Pradesh</option>
				<option value="Assam:AS">Assam</option>
				<option value="Bihar:BR">Bihar</option>
				<option value="Chandigarh:CH">Chandigarh</option>
				<option value="Chattisgarh:CG">Chattisgarh</option>
				<option value="Dadra and Nagar Haveli:DN">Dadra and Nagar Haveli</option>
				<option value="Daman and Diu:DD">Daman and Diu</option>
				<option value="Delhi:DL">Delhi</option>
				<option value="Goa:GA">Goa</option>
				<option value="Gujarat:GJ">Gujarat</option>
				<option value="Haryana:HR">Haryana</option>
				<option value="Himachal Pradesh:HP">Himachal Pradesh</option>
				<option value="Jammu and Kashmir:JK">Jammu and Kashmir</option>
				<option value="Jharkhand:JH">Jharkhand</option>
				<option value="Karnataka:KA">Karnataka</option>
				<option value="Kerala:KL">Kerala</option>
				<option value="Lakshadweep Islands:LD">Lakshadweep Islands</option>
				<option value="Madhya Pradesh:MP">Madhya Pradesh</option>
				<option value="Maharashtra:MH">Maharashtra</option>
				<option value="Manipur:MN">Manipur</option>
				<option value="Meghalaya:ML">Meghalaya</option>
				<option value="Mizoram:MZ">Mizoram</option>
				<option value="Nagaland:NL">Nagaland</option>
				<option value="Odisha:OD">Odisha</option>
				<option value="Pondicherry:PY">Pondicherry</option>
				<option value="Punjab:PB">Punjab</option>
				<option value="Rajasthan:RJ">Rajasthan</option>
				<option value="Sikkim:SK">Sikkim</option>
				<option value="Tamil Nadu:TN">Tamil Nadu</option>
				<option value="Telangana:TS">Telangana</option>
				<option value="Tripura:TR">Tripura</option>
				<option value="Uttar Pradesh:UP">Uttar Pradesh</option>
				<option value="Uttarakhand:UK">Uttarakhand</option>
				<option value="West Bengal:WB">West Bengal</option>
		</select>
        
    </td>
  </tr>
  	{{render_field(form.City)}}

  	<tr>
    <td><span style="color:#F00;"><b>*</b></span><span style="color:#F00;"><b></b></span> Do you have a registered GSTN</td>
    <td>
       

        <input type="radio" name="gstyesno" id="gstyes" onclick="javascript:yesnoCheck();" value="gstyes">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gstyesno" id="gstno" onclick="javascript:yesnoCheck();" value="gstno">&nbsp;No&nbsp;&nbsp;
        <input type="text" name="gstnumber" id="gstnumber" placeholder="please provide GST No." value="">
        <br>
        <small style="color:red;">If Yes, Provided GST No. should be issued at given mailing address for invoicing purpose.</small>
    </td>
  	</tr>
  	{{render_field(form.Mobile)}}
  	{{render_field(form.Fax)}}
  	{{render_field(form.Email)}}
  	
  	</table>
    </div>

	<br />
    <div class="secA grad" style="padding:10px; line-height:20px; "> 

    <span class="secH"><b>Registration Details</b></span>
    <span id="secAIcon"  style="float:right; cursor:pointer; padding-top:5px;" title="Click to explore">
    <i class="fa fa-minus fa-lg" aria-hidden="true"></i></span>
    </div>	
		
    <div class="quesMix">
<input type="radio" name="delegate" id="idelegate" onclick="javascript:categ();" value="idelegate" style="margin: 0px 0px 10px 0px;" /> <b>Indian Delegate</b>

<table width="100%" cellpadding="15" cellspacing="0" border="0" id="indiandelg" >
  <thead>
  <tr>
    <th colspan="2" class="leftpadding"> Participation Details : </td>
    
    <th>Per delegate fee for up to 3 delegates from same organization (in INR, plus GST)</td>
    <th>Per delegate fee if 4 or more delegates from same organization (in INR, plus GST)</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="leftpadding"><input type="radio" name="participant" id="nonmember"  onclick="javascript:categ();"value="nonmember" /></td>
    <td>Non FICCI Members</td>
    <td>Rs. 12,000 per Delegate</td>
    <td>Rs. 10,200 per Delegate</td>
  </tr>
  <tr>
    <td class="leftpadding"><input type="radio" name="participant" id="corporate" value="corporate" /></td>
    <td>FICCI Corporate Members (25% discount) (please provide membership number)</td>
    <td>Rs. 9,000 per Delegate</td>
    <td>Rs. 7,650 per Delegate</td>
  </tr>
  <tr>
    <td class="leftpadding"><input type="radio" name="participant" id="associate" value="associate" /></td>
    <td>FICCI Associate Members (15% discount) (please provide membership number)</td>
    <td>Rs. 10,200 per Delegate</td>
    <td>Rs. 8,400 per Delegate</td>
  </tr>
</tbody>
</table>

<input type="text" class="userInput" maxlength="6" name="membershipNumber" id="membershipNumber" value="" placeholder="membership number" style="margin-top: 10px;" />
</div>



<div class="quesMix">
  
  
  <input type="radio" name="delegate" id="odelegate"onclick="javascript:categ()" value="odelegate" /> Overseas Delegate&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="delegate" id="sponsor" onclick="javascript:categ()" value="sponsor" /> Sponsor (please specify category)
  <input type="text" class="userInput" name="sponsorcat" id="sponsorcat" value="" placeholder="specify category" style="margin-top: 10px;" />

  <div id="overseasfees">
      <div class="row" style="border: 1px solid #CACACA; background-color: #C8C8C8; padding-top: 10px; margin: 5px 5px;" align="center">
          <div class="col-md-6">
              <p>Per delegate fee for up to 3 delegates from same organization (USD) - <b style="color:#B41414;">700 per delegate</b></p>
          </div>
          <div class="col-md-6">
              <p>Per delegate fee if 4 or more delegate from same organization attend (USD) - <b style="color: #B41414">595 per delegate</b></p>

          </div>
      </div>
  </div>
</div>
       

    {% from "delg_formhelper.html" import deligate_details %}
    <div class="ques"><b></b> Delegate Details: <em>(please fill the details below clearly)</em></div>
    <div class="quesMix">

        <div id="accordion">

            <div class="card">
              <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color:#222;">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate One *</a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                 {{deligate_details(form.d1_name,form.d1_desig,form.d1_org,form.d1_mobile,form.d1_email)}}
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color:#222;">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate Two</a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    {{deligate_details(form.d2_name,form.d2_desig,form.d2_org,form.d2_mobile,form.d2_email)}}
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" style="color:#222;">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate Three</a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                    {{deligate_details(form.d3_name,form.d3_desig,form.d3_org,form.d3_mobile,form.d3_email)}}
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse4" style="color:#222;">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate Four</a>
              </div>
              <div id="collapse4" class="collapse" data-parent="#accordion">
                {{deligate_details(form.d4_name,form.d4_desig,form.d4_org,form.d4_mobile,form.d4_email)}}
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse5" style="color:#222;">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate Five </a>
              </div>
              <div id="collapse5" class="collapse" data-parent="#accordion">
                    {{deligate_details(form.d5_name,form.d5_desig,form.d5_org,form.d5_mobile,form.d5_email)}}
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse6" style="color:#222;">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i> - Delegate Six</a>
              </div>
              <div id="collapse6" class="collapse" data-parent="#accordion">
                    {{deligate_details(form.d6_name,form.d6_desig,form.d6_org,form.d6_mobile,form.d6_email)}}
              </div>
            </div>
        </div>

    </div> <!-- quesMix ends -->

    <br clear="all" />






    <div class="secB grad" style="padding:10px; line-height:20px; "> 

    <em class="secH"><b>Payment Details *</b></em>
    <span id="secBIcon"  style="float:right; cursor:pointer; padding-top:5px;" title="Click to explore">
    <i class="fa fa-minus fa-lg" aria-hidden="true"></i></span>
    </div>


    <div class="secBdata">
    <div class="ques">Payment Mode:</div>
    <div class="quesMix">
        
        <input type="radio" name="paymode" id="paymodeDDCheque" value="ddcheque" /> Demand Draft/Cheque
        <input type="radio" name="paymode" id="NEFT" value="NEFT" style="margin-left: 20px;" /> NEFT
        <input type="radio" name="paymode" id="SWIFT" value="SWIFT" style="margin-left: 20px;" /> SWIFT
        <input type="radio" name="paymode" id="online" value="online" style="margin-left: 20px;" /> Online 
    </div>


    <div class="ques">Details</div>
<div class="quesMix paydetail">
  <input type="text" class="userInput" name="chequeDD" id="chequeDD" value="" placeholder="Cheque / DD Number" />
  <input type="text" class="userInput" name="bankdetail" id="bankdetail" value="" placeholder="Bank Name" />
  {{form.date(class="userInput",placeholder="Dated")}}
  <!-- <input type="text" class="userInput" name="datedd" id="datedd" value="" placeholder="Dated" readonly /> -->
  <input type="text" class="userInput" name="amountd" id="amountd" value="" onclick="amount()" placeholder="Amount = (Click CALCULATE button to get)"  readonly /><br>
  <input type="text" class="userInput" name="amountdgst" id="amountdgst" value="" onclick="gstamount()" placeholder="Amount + GST 18% = (Click CALCULATE button to get)"  readonly / ><br>
  <input type="hidden" name="amountdgstsend" id="amountdgstsend" value="">
  <button class="btn btn-primary btn-sm" onclick="paymentbrk()" id="calculate">Calculate</button>
  
  <br clear="all" />
  <div style="margin-top: 10px; background-color: #FFFEB5; padding: 10px;">
    <p><b>Payment Breakup:</b><p>
    <p id="paymentbreakup">
      
    </p>
  </div>
</div>

<div class="ques">
  <em style="color:#C91818;">Participants can make payments through SWIFT/NEFT/Cheque or Demand Draft in favour of ‘FICCI’, payable at New Delhi.</em>
</div>
<div class="quesMix">
  <div class="row" style="border:1px dotted #222; padding:10px;">
    <div class="col-md-4">
        <h5>SWIFT</h5>
        <p>Bank Name: YES Bank<br>
          A/C No: 013694600000041 <br />
          Swift Code: YESBINBBXXX <br />
          A/C Type: Saving  
        </p>
    </div>

    <div class="col-md-4">
        <h5>NEFT/IFSC/RTGS</h5>
        <p>Bank Name: Yes Bank <br />
            A/C No: 013694600000041 <br /> 
            NEFT/IFSC/RTGS Code: YESB0000136 <br />
            A/C Type: Saving
        </p>
    </div>

    <div class="col-md-4">
        <h5>Cheque/DD</h5>
        <p>Cheque/DD to be sent to: <br />
            <b>Ms Priyanka Upreti</b> <br />
            Assistant Director –Education  <br />
            FICCI <br />
            Federation House, Tansen Marg <br />
            New Delhi- 110001
        </p>
    </div>
  </div> <!-- row ends -->
</div> <!-- quesMix ends -->
</div> <!-- secBdata ends -->

<hr>
<div align="center" style="padding-bottom: 10px; margin-top: 20px;">
      <div style="padding-left: 0rem;"><b>Captcha </b><br>
          <img src="captcha.php?rand=78732080" id='captchaimg'><br>
      </div>
      <input id="captcha_code" name="captcha_code" type="text" value="">
      <div style="padding-left: 3rem;">
        Can't read the image? click <a href='javascript: refreshCaptcha();'>here</a> to refresh.
      </div>
</div>



<div class="g-recaptcha" align="center" data-sitekey="6LeZLQcUAAAAAOgPmqA4Y-TIeTvZh8wZgpbDMyd7"></div>
<div align="center" id="formSubmit">
{{form.submit(class="btn btn-primary btn-sm")}}
 <input type="reset" class="btn btn-primary btn-sm" value="Reset!">
<!-- <span id="resett">Reset</span> -->
</div>
<br />

	</form>
</div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>